@{
    ViewBag.Title = "Home Page";
    var t = ViewBag.Chart;
    var z = ViewBag.ImageData;
    var g = t;
}

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="submit" />
    }

    <img id="ItemPreview" src="@ViewBag.ImageData" />
</div>

